# --- Python (Web) ---
__pycache__/
*.py[cod]
*$py.class
.env
.venv
env/
venv/
.streamlit/

# --- LaTeX (Libro) ---
*.aux
*.log
*.toc
*.out
*.pdf
*.synctex.gz
*.fdb_latexmk
*.fls
*.blg
*.bbl

# --- Sistema ---
.DS_Store
Thumbs.db